<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css" />
  <link rel="stylesheet" href="stylesheets/tiff.css" />
  <link rel="stylesheet" href="bower_components/messenger/build/css/messenger.css" />
  <link rel="stylesheet" href="bower_components/messenger/build/css/messenger-theme-future.css" />
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <script data-main="javascripts/main.js" src="bower_components/requirejs/require.js"></script>
</head>

<body>
  <main id="primary">
    <section class="font-select">
      <div id="select1">
        <label>Font A</label>
        <div>
          <input id="control" value="Inter" disabled="disabled" />
          <a class="btn">Hide</a>
        </div>
      </div>

      <div id="select2">
        <label>Font B</label>
        <div>
          <input id="experiment" placeholder="e.g. Times New Roman" autofocus="autofocus" />
          <a class="btn">Display</a>
        </div>
      </div>
    </section>

    <section class="font-display putCanvasesHere"></section>

    <footer>
      <div class="left">
        <p>Created by Mu Ye <a href="//github.com/yemutex/tiff">@yemutex&nbsp;on&nbsp;Github</a></p>
      </div>
      <div class="center">
        <p><a id="reset">reset to default</a></p>
      </div>
      <div class="right">
        <p>Updated by Kate <a href="//github.com/katesowles/tiff">@katesowles&nbsp;on&nbsp;Github</a></p>
      </div>
    </footer>
  </main>

  <!-- For font detector -->
  <p id="fontcheck1"></p>
  <p id="fontcheck2"></p>
</body>

</html>